<h2 class="text-center">Museums List</h2>

<% if(museums && museums.length > 0) {%>
  <% museums.forEach(m => {%>
    <div>
      <h4 class="text-center">
        <a href="/museums/<%= m.id %>"><%= m.name %></a> &mdash; (<%= m.city %>, <%= m.country %>)
      </h4>
    </div>
  <% }); %>
<% } else { %>
  <h4>No museums were found! Bummer!</h4>
  <p>
    Try registering some museums on the
    <a href="/museums/new">Museum Registration Page</a>
  </p>
<% } %>
